#varshow {
	background: url(http://i.imgur.com/D5BkHFD.jpg);
}

#awards {
	background: url(http://i.imgur.com/1q0Q3uJ.jpg) fixed;
	background-size: 100% auto;
	padding: 5%;
}

#container {
	width: 80%;
	margin: 2em 10% 0 auto;
	position: relative;
	height: calc(100% - 4em);
}

.box {
	background: #151515;
	height: 100%;
	display: block;
	width: calc(50% - 1em);
	float: left;
	margin-right: 1em;
	position: relative;
}

#box-info {
	position: absolute;
	width: 70%;
	left: calc(15% - 2em);
	bottom: -2em;
	background: #cc9900;
	padding: 2em;
	color: #151515;
}

#label {
	font-size: 1.5em;
	position: absolute;
	letter-spacing: 2px;
	top: 45%;
	left: 0;
	opacity: .3;
}

#var-list {
	display: block;
	height: calc(100% - 13em);
	margin: 0 7% 0 10%;
	width: 80%;
	padding-right: 3%;
	position: absolute;
	top: 8em;
	overflow: auto;
}

#var-list h2 {
	margin-bottom: 0;
	margin-top: 1em;
}

.var-image {
	display: block;
	height: 100px;
	background: #ffffff;
	margin: 0.5em 0;
}

.award {
	font-size: 3em;
	width: 2em;
	height: 2em;
	display: inline-block;
	margin: 0.2em;
	position: relative;
	text-align: center;
	padding: 1em;
	border:1px solid #ffffff;
	vertical-align: top;
}

.award-exp {
	font-size: .3em;
	display: block;
}

@media (max-width: 800px) {
	#varshow {
		overflow: auto;
	}

	.box {
		width: 95%;
		margin: 1em auto;
		overflow: hidden;
	}

	.var-title {
		font-size: 2em;
		padding: 1em;
		text-align: center;
		margin-bottom: 1em!important;
	}

	#var-list {
		top: 5em;
	}

	.var-title .hide {
		display: inline;
	}

	.rep-bg {
		background-image:url() ;
	}

	.half {
		width: calc(100% - 2em);
	}

	#box-info {
		bottom: 0;
	}

	#label {
		display: none;
	}

	#awards {
		background-position: center;
		background-size: auto 100%;
	}
}

@media (max-width: 500px) {

	.award {
		font-size: 3em;
		width: calc(50% - 0.5em - 1em);
		padding: 0.5em;
	}
}